# Server Configuration
PORT=7000
BACKEND_URL="http://localhost:7000"
CLIENT_SSO_REDIRECT_URL="http://localhost:7000"
NODE_ENV="development" # development | production

# Database Configuration
MONGODB_URI="mongodb://localhost:27017"
DB_NAME="book-library"

# Auth & Security
ACCESS_TOKEN_SECRET="your_access_token_secret"
EXPRESS_SESSION_SECRET="your_session_secret"

# OAuth Configuration (Google & GitHub)
GOOGLE_CLIENT_ID=""
GOOGLE_CLIENT_SECRET=""
GOOGLE_CALLBACK_URL="http://localhost:7000/auth/google/callback"

GITHUB_CLIENT_ID=""
GITHUB_CLIENT_SECRET=""
GITHUB_CALLBACK_URL="http://localhost:7000/auth/github/callback"

# Email Configuration
# Production (Gmail)
GMAIL_USER="your-email@gmail.com"
GMAIL_PASS="your-app-password"

# Development (MailHog)
MAILHOG_SMTP_HOST="localhost"
MAILHOG_SMTP_PORT="1025"
